<div class="container col-md-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-body">
                  <p> Recipe Name: {{name}} </p>
                  <p> Category: {{category}} </p>
                  <div>
                    <p>Ingredients: </p>
                    <ul>
                      {{#each ingredients}}
                        <li>{{this}}</li>
                      {{/each}}
                   </ul>
                  </div>
                  <div>
                    <p>Instructions: </p>
                    <ul>
                     {{#each instructions}}
                      <li>{{this}}</li>
                     {{/each}}
                   </ul>
                  </div>
                <div class="clearfix"></div>
               </div>
            </div>
        </div>
    </div>
</div>
