<div class="container col-md-4">
    <div class="panel panel-default panel-table">
        <div class="panel-body">
            <div class="media">
                <div class="media-body">
                  <h4> {{name}} </h4>
                  <hr>
                  <!-- <h5> Category: {{category}} </h5> -->
                  <div>
                   <h5>Ingredients: </h5>
                    <ul>
                      {{#each ingredients}}
                        <li>{{this}}</li>
                      {{/each}}
                   </ul>
                  </div>
                  <div>
                    <h5>Instructions: </h5>
                    <ol>
                     {{#each instructions}}
                      <li>{{this}}</li>
                     {{/each}}
                   </ol>
                  </div>
                <div class="clearfix"></div>
               </div>
            </div>
        </div>
    </div>
</div>
