<div class="panel-body">
    <div class="media">
    <div class="media-body">
    <h5> Recipe Name: {{name}} </p>
    <h5> Category: {{category}} </p>
      <div>
        <h5>Ingredients: </h5>
        <ul>
          {{#each ingredients}}
            <li>{{this}}</li>
          {{/each}}
       </ul>
      </div>
      <div>
        <h5>Instructions: </h5>
        <ul>
         {{#each instructions}}
          <li>{{this}}</li>
         {{/each}}
       </ul>
      </div>
    <div class="clearfix"></div>
    </div>
  </div>
</div>
