$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.navbar-right {
  margin-right: 5px;
}

.listed-item {
  margin-right: 10px;
  margin-top: 8px;

}

.first-window {
  margin-top: 100px;
}

// .canvas-div {
//  border-radius:
// }

.sign-up-window {
  margin-top: 80px;
}

.box{
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(200, 200, 200, 0.1);
    border-radius: 4px;
    top:50px;
}

.first-window h2{
    text-align:center;
    color:'black';
}

.sign-in-window {
  margin-top: 80px;
}

.change-password-window {
  margin-top: 80px;
}

.sign-out-window {
  margin-top: 80px;
}

.container {

}

.user-choice {
  margin-top: 80px;
}

.panel-primary {
  margin-top: 20px;
}

.panel-default {
  border-color: #3495c5;
  background-color: 'floralwhite';
}

.panel-body {
  height: 280px;
}

.submit-button {
  text-align: center;
}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input-field {
  text-align: center;
  float: left;
  margin: 10px;
}

.ingredients-input {
  float: left;
}

.instructions-input {
  float: left;
}

.recipe-content {
  margin-top: 80px;
}

.sidebar-content {
  position: relative;
  top: -23px;
  left: -16px;
  height: 100vh;
  display: block;
  float: left;
  background-color: rgba(223, 240, 216, 0.5);
}

.tab-content {
  overflow: auto;
}
