$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.listed-item {
  margin: 5px;
}

.first-window {
  margin-top: 80px;
}

.sign-up-window {
  margin-top: 80px;
}

.sign-in-window {
  margin-top: 80px;
}

.change-password-window {
  margin-top: 80px;
}

.sign-out-window {
  margin-top: 80px;
}

.container {
  margin-top: 80px;
}

.user-choice {
  margin-top: 80px;
}

.panel-primary {
  margin-top: 20px;
}

.input-field {
  text-align: center;
  float: left;
  margin: 10px;
}

.ingredients-input {
  float: left;
}

.instructions-input {
  float: left;
}

.recipe-content {
  margin-top: 80px;
}

.sidebar-content {
  height: 100%;
  display: block;
  float: left;
  background-color: rgba(223, 240, 216, 0.5);
}

.tab-content {
  overflow: auto;
}
